body {
    font-family: $main-typeface;
    font-size: 14px;
    line-height: 20px;
    padding: 50px;
    text-align: center;
}

p {
    margin: 0;
    color: #71767a;
}

a {
    text-decoration: none;
}

.channel-item-container {
    margin: 0 auto;
    max-width: 630px;
    margin-bottom: 50px;
    background-color: #f4f5f7;
    border: 1px solid #e6e7e8;
    border-bottom-width: 3px;
    position: relative;
    text-align: left;
}

header {
    padding: 10px;
    img {
        display: inline-block;
        border-radius: 100%;
    }
}

h1 {
    max-width: 450px;
    margin: 0;
    line-height: 26px;
    a {
        color: $blue;
        @include base-type(20px, 700);
        &:hover {
            color: $orange;
        }
    }
}

.header-text {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    p {
        font-size: 12px;
        a {
            color: $blue;
            @include base-type(12px, 700);
            &:hover {
                color: $orange;
            }
        }
    }
}

.item-information {
    padding: 15px;
}

footer {
    @include base-type(11px, 700);
    p {
        display: inline-block;
        padding: 0 10px;
        &:last-child {
            float: right;
        }
    }
}

.upload-date {
    color: #acb1b4;
    padding-left: 0;
    font-weight: 400;
}

.plays {
    color: #6c9;
}

.likes {
    color: #fc575e;
    border-left: 1px solid;
}

.comments {
    color: #4bf;
    border-left: 1px solid;
}

.url {
    color: #acb1b4;
    font-weight: 400;
    &:hover {
        color: $blue;
    }
}

#pagination {
    display: none;
}

.pages {
    padding: 10px;
}

button {
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: white;
    border: 2px solid #888;
    color: #888;
    font-family: $main-typeface;
    @include base-type(16px, 300);
    &:hover {
        cursor: pointer;
    }
}

button[disabled=true] {
    opacity: .2;
    &:hover {
        cursor: auto;
    }
}


